[2017-03-04 16:20] vegarringdal opened #1 "cluster/worker"
Look at using worker so it uses own thread

[2017-03-04 16:21] vegarringdal opened #2 "skip codes"
Add option to pass in codes you dont want it to display

[2017-03-04 16:22] vegarringdal opened #3 "On change only report error on changed file"
On change only report error on changed file

This would probably make it faster if someone dont want all errors

[2017-03-04 18:14] vegarringdal commented on #1
fixed 👍

[2017-03-06 14:29] RPDeshaies opened #4 "Typechecker is validating my node_modules dependencies"
## Config:
[code]

## Error :
[code]

[2017-03-06 14:30] RPDeshaies commented on #4
![image](https://cloud.githubusercontent.com/assets/6224111/23613998/81930bdc-024f-11e7-878d-292d460934d3.png)

[2017-03-06 14:43] vegarringdal commented on #4
do you have a sample I can test with so I can see tsconfig settings, types for modules used etc are installed.
Im no typescript expert :-)

[2017-03-06 15:19] vegarringdal commented on #4
What typescript version are you using?
Tried to search those erros up, and looks like updating typescript might help or https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#new---skiplibcheck

[code]

[2017-03-06 19:39] RPDeshaies commented on #4
I'll take a look. Thanks

[2017-03-09 16:15] RPDeshaies commented on #4
[code]
Did the trick !

Awesome man.

[2017-03-09 16:24] vegarringdal commented on #4
Great 👍

[2017-03-09 16:24] #4 closed

[2017-03-09 16:32] RPDeshaies commented on #4
Damn.

Well actually, it fixed MOST of the errors :
[code]
![image](https://cloud.githubusercontent.com/assets/6224111/23759902/114efb32-04bc-11e7-810e-4abc56d8bfed.png)

[2017-03-09 16:46] vegarringdal commented on #4
check your typings, I had this error too once since ts 2.2.0 + added typpings on that by default

[2017-03-09 16:46] vegarringdal commented on #4
usually searching for same error helps :-)

[2017-03-09 16:48] RPDeshaies commented on #4
Don't worry I tried ! :P

People seems to be using the `files` property inside the `tsconfig` to ignore this.
I'm still investigating.

[2017-03-09 16:51] vegarringdal commented on #4
do you have a types array in tsConfig, or @types just needs to be uninstalled...

[2017-03-09 16:58] RPDeshaies commented on #4
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11700

This can be fixed by settings the `target : 'es5'` instead of `es6` inside the `.tsconfig`
OR
by removing `"@types/core-js"` from the `package.json`  (which I did)

Thanks @vegarringdal

[2017-03-09 18:31] vegarringdal commented on #4
Great, really hate bugs, so good to know its not me this time :-)

[2017-03-10 15:26] mitsoe opened #5 "Run during fuse build"
Before bundling run the typescript checker and fail if it contains typescript errors.

[2017-03-10 15:31] vegarringdal commented on #5
@nchanged
Is there any way I can stop a bundling during first run and when updates happend ?

[2017-03-10 15:32] #1 closed

[2017-03-10 15:34] vegarringdal commented on #3
Unsure if I want this, because having all errors listed is very helpful, need to test if it also checks related files etc
Keeping it open for now

[2017-03-10 16:15] nchanged commented on #5
`throw "wut"` =)

[2017-03-10 16:15] nchanged commented on #5
but we need to have a mechanism to do it properly, i agree

[2017-03-14 14:26] RPDeshaies opened #6 "Don't run watcher when using fuse-box bundle"
When I run my `build` task with the `TypeChecker` plugin, the process never return and my build never finishes.

My build task is using the `fuseBox.bundle('>main.ts');` instead of `fuseBox.devServer('>main.ts')`

I think the `TypeChecker plugin` should run only once when used with `fuseBox.bundle`.

[2017-03-14 16:25] vegarringdal commented on #6
Ill have a look at during the week, I would expect it to only run once since it only run at bundle-end event, so it should have behaved the same if it was a bundle or devServer.

[2017-03-15 14:47] vegarringdal commented on #6
@RPDeshaies Just checked it, its a bug, I need to run figure out what bundle is running and shut down the process if the bundle and not dev server is running

[2017-03-15 14:48] RPDeshaies-playster commented on #6
Perfect !

[2017-03-15 14:49] vegarringdal commented on #6
https://github.com/fuse-box/fuse-box/issues/409

[2017-03-15 14:49] RPDeshaies commented on #6
Perfect !

[2017-03-15 15:12] vegarringdal commented on #6
@RPDeshaies

Added a temp fix for this ```TypeCheckPlugin({quit:true})``` if you add quit: true then it exits
Will improve this, but limited time atm, and guessing this was a annoying bug

[2017-03-15 16:04] RPDeshaies commented on #6
Awesome. Thanks

[2017-03-15 17:27] RPDeshaies commented on #6
I was asking this because I'm running the `TypeCheckPlugin` inside my Travis-CI.

With your `quit:true`, it works and the task is executed without problems.
The only problem is that it's not marking the build as `Failed`.

Is it because the plugin should return some sort of error code when running with `quit: true` ?

[2017-03-15 17:31] vegarringdal commented on #6
it prints fine here when I tested

![image](https://cloud.githubusercontent.com/assets/2901416/23962136/6eab5884-09ad-11e7-9574-53e86ba310e5.png)

I might have to do it all sync, maybe travis isnt picking up console messages running in a own thread

[2017-03-15 17:33] RPDeshaies commented on #6
Sorry, I might have expressed myself badly.

Everything is printed. It's just not telling the CI that the build has failed because it has found errors

[2017-03-15 17:35] vegarringdal commented on #6
Do you want it to throw error ?
I could prb add a option for that, tell me how you hope/think it should work and Ill have a look when I have better time

[2017-03-15 17:43] RPDeshaies commented on #6
It would certainly be nice to throw errors that way it would be possible to refuse a PR if TypeCheck fails.

Except if you think its not the job of your plugin and the plugin should never be run on CI ?

Maybe I should use what the plugin is using directly ? What do you think about it ?

[2017-03-15 18:04] vegarringdal commented on #6
We could add option for it to throw error, so that can be activated when needed.
Dont see any harm in having more options, most problematic part is time lately :-)
Plan was to have options for errors you do not care about too..

if we add a option to throw it should prb run before the bundler and maybe stop what ever output it causes, and option when to throw error, like semantic isnt anything tha

[2017-03-15 21:36] vegarringdal commented on #6
@RPDeshaies

Im thinking
[code]

```throw 'type check errors'```

Or do did you have any ideas how you wanted it?

[2017-03-16 20:23] RPDeshaies commented on #6
It seems perfect to me.

[2017-03-17 15:08] vegarringdal commented on #6
@RPDeshaies tell me how the new option goes, not used travis, so guessing exit with code 1 triggers fail

[2017-03-18 14:35] vegarringdal commented on #6
@RPDeshaies Did the changes I did help ?

[2017-03-18 14:56] RPDeshaies commented on #6
I was not able to test it totally yet.

I'll test it on monday ! But it seemed to work for now.

[2017-03-25 21:45] vegarringdal commented on #6
How did the test go ?

[2017-03-26 10:36] vegarringdal opened #9 "Support fuse-box 1.4.1"
Support fuse-box 1.4.1

Started work here on my "test" branch
https://github.com/vegarringdal/fuse-box-typechecker/tree/test
```"fuse-box-typechecker": "git://github.com/vegarringdal/fuse-box-typechecker#test"```

I really need to try and clean up the entire plugin too when I got it working with v 1.4.1

[2017-03-27 12:48] RPDeshaies commented on #6
Everything seems alright on my side ! :)

[2017-04-18 17:58] vegarringdal commented on #9
@nchanged pushed the newest one, noone uses the old anyways :-)
Ill have a new look on improving it more when I have better time/u go for v 2.0.0 :-)

[2017-04-18 17:58] #9 closed

[2017-04-18 18:00] vegarringdal commented on #6
updated this to support newer fusebox, see options/sample in readme.
Open a new issue if you see anything that does not work/ something Ive missed in the previews.
Will add more soon.

[2017-04-18 18:00] #6 closed

[2017-04-18 18:43] nchanged commented on #9
good stuff @vegarringdal i am working hard on the docs, should be there very soooon.

[2017-05-09 20:03] vegarringdal opened #14 "run 2 times"
runs more then 1 time when using more then 1 bundle...
I didnt notice this last time I tested since I got tricked by the cache... only run first time if caching..

[2017-06-12 05:19] mattoni opened #15 "Integrate with TSLint"
Are there any plans to integrate this with TSLint? Would be awesome to be able to see those issues as well.

[2017-06-13 09:48] vegarringdal commented on #15
not atm, I need to improve this plugin, just havent gotten around to it yet

Notice it trigger twice on first load  (actaully on each bundle that not cached, or cache is set to false)
When in fact I only want to run once on entire app(tsconfig file) when you start app and only on changes after.

If you know how to add it as a option and have time feel free to make PR to make it better :-)

[2017-06-17 11:25] vegarringdal commented on #15
@mattoni

I can try and have a new look at this
Think I will redesign the entire helper to be a separate utility thats easy to use with fusebox/spark

Was thinking own watcher, and that it could be used to  start fusebox, say you want to do new build you can call the typechecker and it will do the type checking and callback, that way you can stop a new build until you have fixed the errors

You ca

[2017-06-17 14:46] vegarringdal commented on #15
@mattoni

Here is the current progress

Atm sync and async options added and cleaned up the code a lot
Gonna look at watch now

https://github.com/vegarringdal/fuse-box-typechecker

[2017-06-18 12:01] vegarringdal commented on #6
@RPDeshaies

Ive rebuild how it work
https://github.com/vegarringdal/fuse-box-typechecker

its not a plugin anymore, just a lib you can run in 3 ways
* sync , so you can check before you start fusebox
* async, paralell with build if wanted
*  watch, (works independent of fusebox, so you can use own cmd fro seeing errors, and have fusebox updates in own

[2017-06-22 19:34] vegarringdal commented on #15
@mattoni
Had a look at tsLint
Here is a small linter code to tslint something
Posting it here since Im kinda al over the place atm, but something liek this should be possible to add to the typechecker I have atm under me (vegarringdal/fuse-box-typechecker)

[code]

[2017-06-24 22:46] mattoni commented on #15
@vegarringdal nice! I haven't had a lot of time to play with this but I'm excited for your progress!

[2017-06-28 16:02] vegarringdal commented on #5
this is possible now, just run it in sync mode and use the throw error options

[2017-06-28 16:02] #5 closed

[2017-06-28 16:03] vegarringdal commented on #14
new one does not run 2 times..

[2017-06-28 16:03] #14 closed

[2017-06-28 16:04] vegarringdal commented on #3
will not be useful to get all errors, tried something using the language service.. still needed to check all files

[2017-06-28 16:04] #3 closed

[2017-06-30 19:29] vegarringdal commented on #15
@mattoni

Current work Im working one, and to buggy to commit yet

But its a start

![image](https://user-images.githubusercontent.com/2901416/27751105-0d580dd4-5ddb-11e7-8ea5-c038afe97937.png)

[2017-06-30 22:14] vegarringdal commented on #15
Now its added

[code]

[2017-06-30 22:14] #15 closed

[2017-06-30 23:56] mattoni opened #20 "Format errors to allow vscode to take you to proper line"
When there is an error, typechecker outputs:
`views/signup/email-verify/EmailVerifyForm.tsx: (57:36)`, which in vscode if you ctrl+click to the file, it takes you to the top instead of to line 57:36. I believe you need to format it so that you have the line number not in parenthesis and after the colon. Would make it that much better :)

[2017-06-30 23:58] mattoni opened #21 "Allow tslint errors to be warnings instead of errors"
Would be nice to customize what type of output each error class has. For example, tslint errors could be set to "warning" and come up as yellow, without failing on sync

[2017-07-01 00:17] vegarringdal commented on #21
So option to have yellow color for lint issues then ?
But point is that you want to get rid of it, isnt it, beeing strick usually brings better code..

Failing ? does it throw error?
If so please post a picture or something

[2017-07-01 00:21] vegarringdal commented on #20
VERY NICE!
I didnt know about this :-)
Just tested replacing `:` with `,` and contr-click works like a charm
Will fix this tomorrow

[2017-07-01 00:21] mattoni commented on #21
Sorry I thought this would exit the program if it ran into errors so that it doesn't continue building. I have it in my fuse file like so:

[code]
It would be nice if
1) it exits the program if there is an error
2) allow for warnings on certain types, so it wont exit if there are only warnings

[2017-07-01 00:27] vegarringdal commented on #21
@mattoni

I still have the throw options you use same place you set base path etc
Even added one for tsLint if you want to go crazy
[code]

[2017-07-01 00:50] mattoni commented on #21
Gotcha, forgot those were there. Thanks! Maybe add some color differences for ones that don't throw, but this works for now.

[2017-07-01 00:50] #21 closed

[2017-07-01 10:57] vegarringdal commented on #21
Ill add a optn for yellow collor for the lint
Dunno if I know type of error when its looping them, I might need to find a map or soemthing to have same options for the others

![image](https://user-images.githubusercontent.com/2901416/27761473-9d2b0f5c-5e5c-11e7-84fb-cd73c6fe7617.png)

[2017-07-01 12:18] vegarringdal commented on #21
@mattoni

added these options 👍

[code]

[2017-07-01 12:18] vegarringdal commented on #20
fixed

[2017-07-01 12:18] #20 closed

[2017-07-03 22:27] vegarringdal commented on #21
@mattoni
Did the color options work out ?

[2017-11-01 07:33] pyros2097 opened #35 "Allow js files to also be linted?"
Right now I'm using typescript option to compile my js files. I want to be able to use tslint for linting my js code so that I don't need to rely on eslint, babel and other stuff. Also this might be faster.
Is there any way to do this?
I heard tslint itself allows to do this.
https://github.com/palantir/tslint/issues/515

[2017-11-01 07:57] vegarringdal commented on #35
Dunno atm, tried to read a little bit in the thread/link you posted

Have you tried adding jsRules to the tslint.json file?
Something like this:
https://github.com/ilkka/tslint-js-test/blob/master/tslint.json

And allowJs in tsconfig.json ?

[2017-11-01 14:22] pyros2097 commented on #35
It seems type check doesn't even go through my js files for some reason. So i created a ts file and imported and that also doesn't seem to be detected. That could be the reason.
Anyway here is the file if need be.
https://github.com/pyros2097/cress-example/blob/master/fuse.js
[code]

[2017-11-01 14:25] pyros2097 commented on #35
Oops.. It works my bad.
it seems my tsconfig was configured wrong.
[code]
My source was in app not src. Thats the problem. Its working properly now. Thanks. :+1:

[2017-11-01 14:25] #35 closed

[2017-11-01 15:15] pyros2097 opened #36 "Options is not being honored"
I tried using these options as specified in the readme,
But all my lint errors are in red and the throw parts are also not working. I tried to look at the code for these options and its not being referred anywhere. Is this implemented.
[code]

[2017-11-01 15:16] sveinburne opened #37 "Make dependency to es7 `Object.entries` explicit or provide a polyfill"
As can be seen [on this table](http://node.green/#ES2017), Node 6.X doesn't support `Object.entries` without the use of `--harmony` flag.
You are using [this es7 feature here](https://github.com/fuse-box/fuse-box-typechecker/blob/master/src/checker.ts#L171).

Since fusebox [explicitly rely on nodejs 6.9.5+](https://github.com/fuse-box/fuse-box/blob/master/package.json), I would recommend providing

[2017-11-01 15:54] vegarringdal commented on #37
Thx, though I was targeting es5 when it was transpiled, and stuff liek this would be just fixed.
Maybe Ive messed up something , if you see what Ive done wrong then please send a PR if you have nodejs  6 installed to test with.
If not Ill try and look at it in the weekend if I have time

[2017-11-01 15:58] vegarringdal commented on #36
Hi, can you share a sample file and a picture, so I have something to work on when I get a chance to look at this, thx

[2017-11-01 16:06] pyros2097 commented on #36
Sure.
This is my dependencies.
[code]
My tsconfig.json
[code]
My tslint.json
[code]

![screenshot from 2017-11-01 21-33-40](https://user-images.githubusercontent.com/1687946/32284188-69fdc09c-bf4c-11e7-899f-159311ad1f0d.png)

[2017-11-01 16:22] sveinburne commented on #37
@vegarringdal I found the reason after some research. Typescript compiler provide only few polyfills by default. So when you `target: es5`, you target the syntax, not the js API.

That can be seen [in this feature table](http://kangax.github.io/compat-table/es2016plus/) where Typescript + **core-js** columns suggests the polyfills are shipped with the latter.
So your build logic should include tho

[2017-11-02 05:56] #37 closed

[2017-11-02 05:57] vegarringdal commented on #36
thx, Ill try and have a look at this later today

[2017-11-03 14:21] vegarringdal commented on #36
hi, got a chance to look at it, its a bug in the readme file, option is called ```yellowOnLint```
sorry 👍

[2017-11-03 14:22] #36 closed

[2017-11-03 14:51] vegarringdal commented on #2
dont want this anymore use built in options in tslint/typescript

[2017-11-03 14:51] #2 closed

[2017-11-04 15:55] pyros2097 commented on #36
No Problem. Thanks for all your efforts.

[2017-11-04 17:30] vegarringdal commented on #36
:-)
Btw, its released to npm now

[2017-12-01 11:27] John0x opened #40 "Add option to exclude files/folder"
Hey, there is no option to exclude files or folders, even though the tslint cli supports it.

[2017-12-01 15:57] vegarringdal commented on #40
Hi have you tried to use the tsconfig.json to exclude files ?

[2017-12-12 09:19] John0x opened #41 "VueComponentPlugin incompatibility"
Hey, the type checking doesn't seem to effect .vue components. I'm using the standard VueComponentPlugin without any fancy configs.

The type checker just prints:
[code]

Even though there are obvious errors

[2017-12-12 10:01] vegarringdal commented on #41
I dont use vuejs, but maybe there is a way to extend tslint config

Maybe this can be used?
https://github.com/prograhammer/vscode-tslint-vue

I really dont want vue/react or any framework lib hard coded into type checker.
Think this can be a nightmare to maintain.
Atm its not dependent on Fusebox either, so name is kinda misleading, and might get impression to support all frameworks Fusebox does.

[2017-12-12 10:02] vegarringdal commented on #40
@John0x Did you try and exclude files/folders in tsconfig.json?

[2017-12-12 10:36] John0x commented on #41
@Shepless  any idea?

I'm using vscode-tslint-vue right now, but that's not working for build time type checking :/
I guess it doesn't work, because the vue plugin handles all the stuff within the plugin itself, not like the vue plugin for webpack, where typescript/sass and such get piped to the corresponding plugins

[2017-12-12 10:47] vegarringdal commented on #41
@John0x
ok, and you are sure the typechecker are using the correct tslint/tsconfig file?

[code]

![image](https://user-images.githubusercontent.com/2901416/33880474-04bc4ec8-df32-11e7-870a-f050feff9068.png)

[2017-12-12 10:48] TombolaShepless commented on #41
@John0x the VueComponentPlugin does use other plugins internally - see [here](https://github.com/fuse-box/fuse-box/blob/master/src/plugins/vue/VueBlockFile.ts#L22). I'm at work right now so I can't really look into this atm.

[2017-12-12 10:52] John0x commented on #41
@vegarringdal yeah, I'm using the exact same config.
@Shepless I believe that to be the problem. Webpack does it by piping the typescript to it's corresponding typescript plugin. That would, in my opinion, be the proper way to do it. Right now I have to have multiple configs the same plugins (sass plugin for general sass files and the sass plugin for the vue plugin).

[2017-12-12 10:58] TombolaShepless commented on #41
That is the way it would have been written if the fuse box architecture allowed it. This plugin was built in close collaboration with @nchanged throughout and it was deemed not possible to write it in that way. Therefore I made what I thought was a "halfway house" approach so I didn't need to duplicate every single plugin just for Vue files.

Webpack and Fuse are very, very different under the hoo

[2017-12-12 10:58] vegarringdal commented on #41
@John0x
OK, then vue plugin you are using are doing much more then just extending tslint.json and doing checks, else it would have been picked up I guess

[2017-12-12 11:12] TombolaShepless commented on #41
@John0x can you verify is the TypeChecker even picks up .vue files pls? If not - then that is the starting point for this issue for me.

[2017-12-12 11:40] John0x commented on #41
@Shepless I don't think it does.
.Vue files contain more than just the typescript code. I don't get any errors by the type checker, even if I just put some rubbish wrong code in the file.
I can't verify it right now though, since I'd have to debug the plugin itself, I guess.

[2017-12-12 11:44] TombolaShepless commented on #41
@John0x like I said I have never used (or looked at) the TypeChecker before. However, just a quick look at the README for this project immediately suggests to me that it does not pick up `.vue` files as the TypeChecker isn't actually a plugin - it is it's own entity that can just be run in total isolation.

Therefore from what I can see (again without any in depth digging) we have possibly two opt

[2017-12-12 11:55] John0x commented on #41
@Shepless shouldn't it be even more generic? This is a pretty common use case, or not?
Or doesn't the fuse-box architecture allow that?

[2017-12-12 13:15] TombolaShepless commented on #41
@John0x like I mentioned previously the fuse box architecture doesn't allow for that approach to be taken. That was my initial goal - re-use the existing plugin pipeline in the context, but it just cannot be done in its current form. So, to repeat the above, I took a "halfway house" approach so we can reuse plugins within the Vue plugin. The only other alternative was to handle transforming manual

[2017-12-12 13:46] John0x commented on #41
@Shepless yeah, I understand :)
I just cannot really see, why fuse-box works like that. I mean, it would be better to do it like webpack, from more than just one point of view.
Is the architecture that unflexible or is it something that is blocked by something else right now?

I could attempt attempt to modify the vue plugin myself tomorrow and create a pull request, or will you do it in the next

[2017-12-12 13:51] TombolaShepless commented on #41
@John0x Things a little crazy my side at the moment so feel free to push up a PR and if you tag me in it I'll be more than happy to take a look at it.

On the architecture side of things - the main blocker was that there was no way to access the already created plugins from the work flow context to then call `transform` on and pass in the virtual file. I don't think that would have changed but its

[2017-12-13 09:05] John0x commented on #40
Ah, sorry, the problem was caused by something else :)
Closing now

[2017-12-13 09:05] #40 closed

[2017-12-19 05:42] mattoni opened #42 "Type checker exits with 0 even when error is thrown"
Not sure if you noticed this, but I'm trying to get the typechecker to stop my Docker container from building on a type error. I have it set to sync and throw on error. It successfully stops the build but the process is exiting with a 0 exit code instead of a 1, causing docker to think it was successful and continuing the build.

Would you be able to make it so the error code is propagated properl

[2017-12-19 06:05] vegarringdal commented on #42
Will have a look at it tonight/tomorrow.
Remind me if I dont respond by tomorrow :-)
Prb dumb mistake we made after some of features we added with callback :-)
Thanks for reporting the error.

Guessing the mistakes are somewhere here, if you try look at it
https://github.com/fuse-box/fuse-box-typechecker/blob/master/src/checker.ts#L311-L323
https://github.com/fuse-box/fuse-box-typechecker/blob/mas

[2017-12-19 16:32] vegarringdal commented on #42
@mattoni
Can you do a test for me, does this exit with correct code?

[code]

[2017-12-19 16:42] vegarringdal commented on #42
@mattoni fix bug on sync, updated to 2.6.4 and publish new version on npm.
Please confirm this fixed the issue.

[2017-12-19 16:42] #42 closed

[2017-12-19 16:48] vegarringdal commented on #41
Im just gonna tag this as info only, so other can fin it.
I feel it would be bad to modify this typechecker/tslinter to support vuejs if this isnt supported out of the box by typescript/tslint by adding option to tslint.json or tsconfig.json.
If adding some option/api here to make it simpler for a plugin to access a part then thats ok, no problem with that, but it might already be there. :-)

[2017-12-19 16:48] #41 closed

[2017-12-19 16:53] vegarringdal commented on #42
How I tested:

- removed a semicolon, then ran this code..

[code]

[2017-12-19 17:11] mattoni commented on #42
@vegarringdal seems to have fixed it, thanks!

[2017-12-19 17:14] vegarringdal commented on #42
Great, I had a throw int here before, but exit with code 1 is cleaner

[2018-01-26 15:17] davidctj opened #43 "tsConfig Options Errors, what does that mean?"
My tsconfig.json
[code]
Error:
[code]

what does that typechecker error mean?

[2018-01-26 16:40] vegarringdal commented on #43
@davidctj that looks like a bug :-)
What version are you on ?

[2018-01-26 16:43] vegarringdal commented on #43
Able to reprduce, though it all would be strings
will try and fix this when I have time during the weekend

![image](https://user-images.githubusercontent.com/2901416/35450455-630b6674-02c0-11e8-98b4-61607d776afb.png)

[2018-01-26 16:51] vegarringdal commented on #43
But when looking at you config.ts I see no rootDir or outDir

[code]
please add something like this..

[2018-01-26 21:00] vegarringdal commented on #43
@davidctj pushed new release to 2.7.1, error will display with a lot of details if message is a object.

[2018-01-26 21:00] #43 closed

[2018-01-26 21:15] davidctj commented on #43
@vegarringdal thank you! will check

[2018-01-26 22:02] vegarringdal commented on #43
@davidctj
Tell me how it goes, and what error message u got

[2018-01-29 10:35] davidctj commented on #43
@vegarringdal now I could see the JSON output with messageText and ande next, super good! thanks

[2018-02-02 15:52] wujekbogdan opened #44 "Typechecker doesn't work with Vue.js single file components."
I've set up typechecker, it works fine, but only with `*.ts` files. It doesn't work with `*.vue` [Single file components](https://vuejs.org/v2/guide/single-file-components.html) at all.

I've added the following lines to my `tslint.json` file But it didn't change anything:

[code]

It seems that tslint is not able to parse the JS code that's wrapped in `<script lang="ts">` tags. Is there any worka

[2018-02-02 18:15] vegarringdal commented on #44
Typechecker is not using fusebox, just the tslint.json/tsconfig settings and can be used as a own simple typescript transpiler like I do here.
https://github.com/vegarringdal/node-typescript-skeleton
https://github.com/vegarringdal/node-typescript-skeleton/blob/master/build.js

For it to be able to support vue.js then tslint/typescript needs to be able to support it.

Been trying to look into it a

[2018-02-14 19:24] RPDeshaies opened #46 "Typechecker could be optimized"
According to one of my VSCode plugin, importing TypeChecker imports 2.2MB of data which seems pretty big for a package like this one considering that `expressjs` is 1.1MB

![image](https://user-images.githubusercontent.com/6224111/36223472-822d2098-1192-11e8-9b28-a36f04f4175b.png)

Any particular reason for that ?

[2018-02-14 20:03] vegarringdal commented on #46
Its counting all its dependencies too I guess, like tslint, typescript, chalk, node path/fs.
The actual typechecker dist folder cant be more then 100kb ish.

[2018-02-26 15:40] mickaelmartinsdev opened #47 "How to catch runSync() exception"
Hi,
I want to catch 'exception' when TypeHelper throws exception. How I can do that ?

`try{
    testSync.runSync();
}catch(error)
{
    console.log('error : '+ error);
}`

Thank-you

[2018-02-26 15:59] vegarringdal commented on #47
the throwOnError options just exits node process with error 1, not 0 (success), to make something like travis to react.
To know if error happend during sync the easier, to stop transpiling/nw build,  just skip the `throwOn` options and check how many errors.

[code]
@mickaelmartinsdev
Does this help you issue ?

[2018-03-28 18:53] Fconstant opened #48 "Remove TSlint requirement"
I don't use TSLint at all, but this tool gives me an error if I don't install tslint as a dependency to my project.

TSlint should be optional.

[2018-03-31 10:28] vegarringdal commented on #48
will have a look into it
only reason why Ive never included typescript or tslint as requirement was to not force any versions on user.

any reason why you dont want to lint, it would only be a dev dependency..

[2018-04-01 21:34] #48 closed

[2018-04-01 21:52] vegarringdal commented on #48
thx for PR, updated to v 2.8.0 and npm

[2018-04-20 07:40] jpike88 opened #50 "Option to pipe errors to a file"
I'm implementing continuous integration, would be nice if there was an easy way to pipe the output to a file instead of stdout.

Bonus if I could have the file either not be created, or just say 'success' in the event zero errors are generated. Ideas?

[2018-04-20 07:56] jpike88 commented on #4
skipLibCheck did the trick for me too.

This should be on the Readme of this repo I think!

[2018-04-21 07:58] jpike88 commented on #47
Documentation needs to be clearer for standard test cases

[2018-04-22 11:55] vegarringdal commented on #50
Could maybe have a option to return whats printed to console, so you could save it.
Then user could save it how he wanted it.
Is the console print a issue ?
I havent worked much with continuous integration

[2018-04-22 11:56] vegarringdal commented on #4
Dunno, pretty much all its doing is using typescript with the tsconfig and tslint with tslint file.
Im thinking almost everything is documented by typescript on how to use tsconfig etc..

[2018-04-22 14:36] jpike88 commented on #50
Never mind, not necessary. Just noticed that throw flags in the config (btw I think you do a spellcheck, the word ‘throwe’ I see used)

[2018-04-22 14:36] #50 closed

[2018-04-22 18:46] vegarringdal commented on #50
ok, Ill have a look at those typos

[2018-06-03 08:51] vegarringdal opened #52 "next - 2.10.0-next.X"
Figured I could have a thread on what will be and is in `next` version

`fuse-box-typechecker@next`

### Gulp removed (next.1)
its using fusebox 2.9.0 to make own dist

### runSilentSync() (next.4)

Returns object, and does not print any errors to console.
if no check have been preformed it returns undefined

[code]
result without errors
![image](https://user-images.githubusercontent.com/2901416/4

[2018-06-04 06:13] dlannoye commented on #52
So I did some digging in the code and I think this would work, but looking at the code I think it might work better to just return the objects you are using in printResults. I am thinking that the results object could be an object with the following interface:
[code]

These should be pretty straightforward to serialized compared to the full Diagnostics that typescript returns, but also have enough

[2018-06-04 19:50] vegarringdal commented on #52
@dlannoye
fuse-box-typechecker@2.10.0-next.3

[code]

you can give it a try
should try and reproduce option and global errors so we could test if they make it fail, but I didnt manage to make then 😂

[2018-06-05 05:34] dlannoye commented on #52
For naming are you stuck on `checkSyncReturnObj` and `checkSyncReturnObjPromise` to me something like `checkSilentSync`, `checkSilentPromise` and `checkSilentAsync` would be nice to go with the current `runPromise`, `runSync` and `runAsync` apis and indicate that they don't print the results. Also, if you are interested in a bigger change you could move away form the worker doing the printing and

[2018-06-05 09:03] vegarringdal commented on #52
@dlannoye
Hi renaming to `runSilentSync` and `runSilentPromise ` sounds like a great idea.
Main reason why Im using the `next.x` now it to be able to do small changes without bringing breaking change :-)

no, need to worker to be able to do printing to console, I usually use this when working on a project using fusebox, on the bundle start I call `startTreadAndWait()` and then on fusebox `complete

[2018-06-05 09:04] vegarringdal commented on #52
I can rename the functions later today

[2018-06-05 13:28] vegarringdal commented on #52
@dlannoye
fuse-box-typechecker@2.10.0-next.4 published, now they are called ```runSilentSync``` and ```runSilentPromise```

[2018-06-06 18:30] vegarringdal commented on #52
@dlannoye
Did you get a chance to test `?
I really need to figure out how to produce a global and a option errors to make sure it works

[2018-06-07 05:34] jpike88 opened #53 "resolveJsonModule not working"
I get this error when turning on resolveJsonModule:

/Users/Me/Project/angularHelpers.ts (4,26) (Error:TS2307) Cannot find module './en-AU.json'

Can you confirm whether resolveJsonModule works for you at all?

Using TS 2.9.1, VSCode actually reports it as fine, and tsc has a weirder issue going on:

https://github.com/Microsoft/TypeScript/issues/24743

**UPDATE: the weirder issue seems to be deli

[2018-06-07 14:33] vegarringdal commented on #53
Sample
https://github.com/vegarringdal/toDelete

![image](https://user-images.githubusercontent.com/2901416/41106443-52de96a0-6a70-11e8-9df2-9c0de7a9ba43.png)

option error goes away if I add the outDir

[code]

[2018-06-07 14:47] vegarringdal commented on #53
Update, tried to read more about this
It says here it will try and copy over the to files to output, so warning is kinda correct... maybe

![image](https://user-images.githubusercontent.com/2901416/41107276-5734643a-6a72-11e8-96db-55c64ec7d1b9.png)

[2018-06-07 16:38] dlannoye commented on #52
I haven't got a good chance to test it yet. I did do some digging to see if I could produce a global or an option error, but didn't find anything there yet.

[2018-06-07 18:03] vegarringdal commented on #52
@dlannoye

OK, I'll hold back the release of **v2.10.0** until you get a chance to test.
This way we dont miss a silly mistake :-)

I will hopefully managed to start on some better tests, just need to find out how far I want to take v3.0.0

[2018-06-08 17:02] vegarringdal commented on #53
@jpike88
How did this turn out ?

[2018-06-19 05:56] jpike88 commented on #53
I think we should build in exemptions to omit this error. The problem is that outDir shouldn't need a value for this to do its job, which is just to check types. Files being written/not written shouldn't be a factor here.

[2018-06-19 14:09] vegarringdal commented on #53
yes, we could add a option to skip ts errors, as a option.

[2018-06-19 15:47] vegarringdal commented on #53
@jpike88
`skipTsErrors?: number[];// skip ts errors` to options

Can test it here:
fuse-box-typechecker@2.10.0-next.7

Tell me how it works out for you

[2018-06-19 15:50] vegarringdal commented on #52
@dlannoye

Gotten chance to try it?
Most important part is that you have not noticed any bugs
Also added option to skip tsErrors due to #53
`skipTsErrors?: number[];// skip ts errors`

[2018-06-19 20:33] dlannoye commented on #52
I tried fuse-box-typechecker@2.10.0-next.7 against several of my projects
and everything looked good for them.

On Tue, Jun 19, 2018 at 8:50 AM Vegar Ringdal <notifications@github.com>
wrote:

[2018-06-19 20:35] vegarringdal commented on #52
Great, Ill prb release it during the weekend then.

[2018-06-21 03:39] jpike88 commented on #53
this solves the issue. eagerly awaiting release :D

[2018-06-21 03:39] #53 closed

[2018-06-23 17:21] vegarringdal commented on #52
@dlannoye @jpike88

version fuse-box-typechecker@2.10.0 released

https://github.com/fuse-box/fuse-box-typechecker/releases/tag/2.10.0

[2018-06-23 17:21] #52 closed

[2018-07-19 11:05] vegarringdal opened #55 "fuse-box-typechecker@2.11.0-next"
Thread for next version

**fuse-box-typechecker@2.11.0-next.1**
* tried to add ts 3.0 references (will need more testing)

**fuse-box-typechecker@2.11.0-next.2**
* added debug options
[code]

[2018-12-13 19:02] skrat opened #56 "Fails when tsconfig is not set"
https://github.com/fuse-box/fuse-box-typechecker/blob/36263dd6bb05f42073e94b187bb43915c2948ab9/src/index.ts#L51

[2018-12-13 20:10] vegarringdal commented on #56
@skrat
You feel tsConfig should be optional too?

[code]

[2018-12-13 20:48] skrat commented on #56
Oh sorry, I thought it is but it's just the tslint. But yeah, a default would be nice.

[2018-12-13 21:20] vegarringdal commented on #56
Might be a nice feature to have it as a optional/default settings.
If you have any suggestions then tell me. Ill try and have a look at it during the weekend :-)

[2018-12-16 11:07] vegarringdal commented on #56
@skrat

Added this as optional in version
`2.12.0-next.1`

You you give it a test to see it works in your end?

[2018-12-16 11:08] #55 closed

[2019-03-01 16:17] vegarringdal commented on #56
fix in 2.12.0 😄

[2019-03-01 16:18] #56 closed

[2019-07-21 20:52] vegarringdal opened #58 "3.0.0"
Will try and add faster checking by using IncrementalCompilerHost

[2019-07-21 22:55] vegarringdal commented on #58
If anyone want to try if its faster then use this
`fuse-box-typechecker@3.0.0-next.2`

[2019-07-23 09:33] vegarringdal commented on #58
Some bads parts here, some todo for me for next week:
- [ ] remove some of the weird code
- [ ] move builtin watch into thread
- [ ] using tread to check code should also print result in tread so it dont interrupt main thread

[2019-07-23 09:49] vegarringdal commented on #58
@nchanged
When I update it I want it to be easier to use with fusebox.
I use it for otherstuff too, but since its called fusebox-typechekcer it might be nice if it was super easy to use.

Will the v4 plugin api have events for something like this:
- 1. first run
  - with current tsconfig
  - with current watch settings
- 2. Update/watch triggered
  - once when all is done
- 3. Abort- config change

[2019-07-23 10:53] nchanged commented on #58
Here is a simple `v4` plugin

[code]

https://github.com/fuse-box/fuse-box/blob/26cc7f28b2d5c1a7ff12cee1f41827c4e9becaf4/src/interceptor/events.ts#L36-L43

[2019-07-23 10:57] nchanged commented on #58
WatcherAction

[2019-07-24 00:24] vegarringdal commented on #58
@nchanged
thx

Just got old grid cleaned up and removed a lot
`fuse-box-typechecker@3.0.0-next.3``
Will try and look at the plugin after Ive tested new code a little more.
Maybe clean up a little more when Ive had some more sleep 😂

New version have fewer options and more stuff it can do in the worker.
[code]

Im think this will be the sequenze

1.   starting -> worker_PrintSettings();
2.   on cha

[2019-07-24 11:12] vegarringdal commented on #58
Cleaned up more
Tslint is removed since it will be deprecated some time in 2019
Added missing throwOn options
Removed emit part, since anyonecan do it with a since line..
`node ./node_modules/typescript/bin/tsc --build`

`fuse-box-typechecker@3.0.0-next.4`

Todo:
- [ ] Make plugin

[2019-07-24 13:17] vegarringdal commented on #58
plugin added

`fuse-box-typechecker@3.0.0-next.5`

[2019-07-24 20:41] vegarringdal commented on #58
Used no fusebox tsconfig if no path is set
You can still overide if you want

`fuse-box-typechecker@3.0.0-next.6`

[2019-08-07 17:18] vegarringdal commented on #58
Todo
when adding basepath I need to add this to file source, else contrl+mouse click will fail

fixed [ ]

[2019-08-08 13:31] vegarringdal commented on #58
fuse-box-typechecker@3.0.0-next.10

fixed basepath issues when using server (2 plugins)
fixed production build, if `.NODE_ENV === "production"` then it does not use threads. (imprortant so it does not hold process alive after fusebox is done)

[2020-02-11 17:04] vegarringdal commented on #58
fuse-box-typechecker@3.0.0-next.30

removed ref to homeDir

[2020-11-27 19:34] vegarringdal commented on #58
released v 3.0.0

[2020-11-27 19:35] #58 closed

[2021-01-19 14:13] jpike88 commented on #47
@vegarringdal actually this is a big issue now I'm trying to pipe error output to somewhere else.

Returning a number isn't enough, it should be an array of strings. If length 0, then 0 errors.

[2021-01-19 17:05] vegarringdal commented on #47
I didnt see this before now.
We need to create a another function so we dont make a breaking change

[2021-01-19 17:35] vegarringdal commented on #47
![image](https://user-images.githubusercontent.com/2901416/105071298-ab3cbf00-5a84-11eb-9a2d-b991b6b7da75.png)

added a getresult function

https://github.com/fuse-box/fuse-box-typechecker/blob/master/src/index.ts#L80-L83

please make a PR with edits to this function with the array data you would like to see

https://github.com/fuse-box/fuse-box-typechecker/blob/d9b9fbb71dd3277ccabfc8e1a6b78d8f6b5

[2021-02-06 14:16] jpike88 opened #66 "Replacing chalk with in-house solution makes output impossible to print"
If I use getResult, I get an output containing useful output, routing that to console.log just means I see all these color tags (e.g. ```<cyan>```) that are impossible to reinterpret.

Can the logger be exposed to strip/convert the colours back into terminal compatible output?

[2021-02-06 16:27] vegarringdal commented on #66
Well there is a reason why I asked if this was what you wanted before I published it. 😄

You should be able to get it if you want it like this without me doing anything
const pluginTypeChecker = require("fuse-box-typechecker/dist/fuseLogger/fuseLog").FuseLog;

[2021-02-06 16:29] vegarringdal commented on #66
Have a look at this one:
https://github.com/fuse-box/fuse-box-typechecker/blob/master/src/printResult.ts#L123

[2021-02-09 13:00] jpike88 commented on #66
I imported the FuseLog class directly, that's created a good enough solution. Thanks!!

[2021-02-09 13:00] #66 closed, assigned to nobody